<app-top-left-menu>
        <div class="container">
            <div *ngIf="errorMessage && !loading" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
            <div *ngIf="loading" class="alert alert-warning" role="alert">
                Carregando, aguarde.
            </div>
            <div class="row">
                <div class="md-8">
                    <br>
                    <h4>Cadastrar Liberação
                </h4>
                     <form [formGroup]="liberacaoForm" id="liberacaoForm">
                        <table class="table table-striped">  
                            <thead>
                                <tr>  
                                    <th scope="col" class="text-center">Unidade</th>
                                    <th scope="col" class="text-center">N° Contrato</th>
                                        <th scope="col" class="text-center">
                                            <select class="form-select" name="tipo" id="inputtipo" formControlName="tipo" (change)="onTipoChange($any($event.target).value)">
                                                <option value="" disabled selected class="text-center cabecalho">Liberação desejada</option>
                                                <option class="text-center" *ngFor="let option of tipoOptions" [value]="option">{{ option == "DECIMO_TERCEIRO" ? "Décimo 13°" : option == "FGTS" ? "FGTS" : option == "FERIAS" ? "Férias":"Nenhum"}}</option> 
                                            </select>          
                                        </th>  
                                        <th>
                                            <h6  *ngIf="liberacaoFGTS"  class="text-center">Data do desligamento</h6>                                        
                                        </th>         
                                </tr>
                            </thead>
                            <br>
                            <tbody class="table text-center">
                                  <tr *ngIf="dadosContrato || selectedTipo">
                                    <td>{{ dadosContrato.unidade }}</td>
                                    <td>{{ dadosContrato.numero }}</td>
                                    <td>{{ selectedTipoDisplay }}</td>
                                    <td class="inline-container" > 
                                        <input  *ngIf="liberacaoFGTS" type="date" class=" form-control form-control-lg small-input inline" id="data"
                                        aria-label="data" aria-describedby="basic-addon1" formControlName="data"
                                        required [max]="getCurrentPeriod()"></td>
    
                                  </tr>                   
                            </tbody>         
                        </table>
                        <input type="button" class="btn btn-primary" id="buttonLiberacaoId" [disabled]="!liberacaoForm.valid" value = "{{ isEditing ? 'Cadastrar liberação' : 'Cadastrar liberação' }}"
                        (click)="isEditing ? updateLiberacao() : createLiberacao()">
                    </form>   
                </div>      
            </div>
        </div>     
    </app-top-left-menu>
    
