<app-top-left-menu>
    <form [formGroup]="form">
        <div class="row">
            <div class="toast-container">
                <div *ngIf="!loading && errorMessage">
                    <div *ngFor="let toast of toasts">
                        <app-toast [title]="'Erro'" [message]="errorMessage "
                            [customClass]="toast.type === 'error' ? 'loading-toast' : 'error-toast'"
                            (closeHit)="toast.isShow = true">
                        </app-toast>
                    </div>
                </div>
                <div *ngIf="loading">
                    <div *ngFor="let toast of toasts">
                        <app-toast [title]="'Status'" [message]="'Loading...'" [message]="'Carregando, aguarde.'"
                            [customClass]="toast.type === 'loading' ? 'error-toast' : 'loading-toast'"
                            (closeHit)="toast.isShow = true"></app-toast>
                    </div>
                </div>
                <div *ngIf="provisaoEncontradaContrato?.length === 0">
                    <div *ngIf="!loading && message">
                        <div *ngFor="let toast of toasts">
                            <app-toast [title]="toast.title" [message]="message"
                                [customClass]="toast.type === 'alert' ? 'error-toast' : 'alert-toast'"
                                (closeHit)="toast.isShow = true"></app-toast>
                        </div>
                    </div>
                </div>

            </div>
            <h4>Provisões
            </h4>
            <div class="md-12">
                <table class="table  table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Empresa</th>
                            <th scope="col" class="text-center">Contrato</th>
                            <th scope="col" class="text-center">Início vigência</th>
                            <th scope="col" class="text-center">Fim vigência</th>
                            <th scope="col" class="text-center">Total de provisão {{periodo}} </th>

                        </tr>
                    </thead>
                    <tbody *ngIf="provisaoEncontradaContrato != null">
                        <ng-container>
                            <tr>
                                <td *ngIf="provisaoEncontradaContrato.contrato.pessoaJuridica.nome">
                                    {{ provisaoEncontradaContrato.contrato.pessoaJuridica.nome }}
                                </td>
                                <td class="text-center">
                                    {{ provisaoEncontradaContrato.contrato.numero}}
                                </td>
                                <td class="text-center">
                                    {{ provisaoEncontradaContrato.contrato.inicioVigencia | date:'dd/MM/yyyy' }}
                                </td>
                                <td class="text-center">
                                    {{ provisaoEncontradaContrato.contrato.fimVigencia | date:'dd/MM/yyyy'}}
                                </td>
                                <td class="text-center">
                                    {{ formatarNumero(somaTotalProvisaoMensal) }}
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>
            <div class="md-12">
                <h5 class="text-center">Empregados</h5>                
                <h5  class="inline">Mês da provisão: <input class="form-control form-control-lg small-input inputtipo" type="date" id="monthYearInput" name="monthYear"
                        formControlName="selectedPeriod" [max]="getCurrentPeriod()"
                        (change)="histoProvisao(provisaoEncontradaContrato.contrato.idContrato)" required>
                </h5>                
                <table title="Empregados" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col" class="text-center">Cargo</th>
                            <th scope="col" class="text-center">Remuneração</th>
                            <th scope="col" class="text-center">13º salário</th>
                            <th scope="col" class="text-center">Férias</th>
                            <th scope="col" class="text-center">Ab.férias</th>
                            <th scope="col" class="text-center">Subtotal</th>
                            <th scope="col" class="text-center">Inc.grupo A</th>
                            <th scope="col" class="text-center">Multa FGTS</th>
                            <th scope="col" class="text-center">Total</th>

                        </tr>
                    </thead>

                    <tbody *ngIf="provisaoEncontradaContrato && provisaoEncontradaContrato.funcionarioProvisionList">
                        <ng-container
                            *ngFor="let provisao of provisaoEncontradaContrato.funcionarioProvisionList; let i = index">
                            <tr *ngIf="provisao.provisoes.length > 0">
                                <td>{{ provisao.funcionario.pessoaFisica.nome }}</td>
                                <td class="text-center">{{ provisao.provisoes[0].cargo }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].remuneracao)}}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].decimo) }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].ferias) }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].abFerias) }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].subTotal) }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].incGrupoA) }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].multaFGTS) }}</td>
                                <td class="text-center">{{ formatarNumero(provisao.provisoes[0].totalProvisaoMensal)}}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>               
                <button id="btnVoltarListFunciId" type="submit" (click)=" toGoBack()" [disabled]="loading && !loaded"
                    class="btn btn-primary">Voltar</button>
            

        </div>
    </div>
    </form>
</app-top-left-menu>